manifest {
    name = 'GATK4 Germline SNP and Indel Analysis'
    description = 'Workflow for germline short variant discovery using GATK4'
    version = '0.0.1'
    author = 'Evan Floden <evan@seqera.io>; Abhinav Sharma <abhi18av@outlook.com>'
    mainScript = 'gatk4-germline-snps-indels.nf'
    defaultBranch = 'master'
    homePage = 'https://github.com/seqeralabs/gatk4-germline-snps-indels'
}

process.errorStrategy = 'retry'
process.maxRetries = 3

params {
    GATK_APPLY_BQSR {
        java_opts = "-Xms3000m"
    }

    GATK_BASE_RECALIBRATOR {
        java_opts = "-Xms4000m"
    }

    GATK_GATHER_BAM_FILES {
        java_opts = "-Xms2000m"
        compression_level = 5
    }

    GATK_GATHER_BQSR_REPORTS {
        java_opts = "-Xms3000m"
    }

    GATK_HAPLOTYPE_CALLER {
        java_opts = "-Xmx4G"
    }

    GATK_MARK_DUPLICATES {
        java_opts = "-Xms4000m"
        compression_level = 5
    }

    GATK_MERGE_BAM_ALIGNMENT {
        java_opts = "-Xms6000m"
        compression_level = 5
    }

    GATK_MERGE_VCFS {
        java_opts = "-Xmx4G"
    }

    GATK_SORT_AND_FIX_TAGS {
        java_opts_sort = "-Xms4000m"
        java_opts_fix = "-Xms500m"
        compression_level = 5
    }

    PICARD_SAM_TO_FASTQ_BWA_MEM {
        java_opts = "-Xms3000m"
        compression_level = 5
    }

}


profiles {
    dockerhub {
        process {
            errorStrategy = 'retry'
            ext.registry = 'https://hub.docker.com/r/seqeralabs/'
        }

        docker {
            enabled = true
            fixOwnership = true
        }

    }


    ecr {
        workDir = 's3://work' // <- replace with your own bucket!

        aws {
            region = "eu-west-1"
        }

        process {
            errorStrategy = 'retry'
            ext.accountid = "AWS_ACCOUNT_ID"
            ext.registry = "${ext.accountid}.dkr.ecr.${aws.region}.amazonaws.com"

        }
    }

    gcr {
        workDir = 'gs://work' // <- replace with your own bucket!

        google.project = "project_name"
        google.zone = "europe-west2-c"

        process {
            errorStrategy = 'retry'
            ext.hostRegion = "eu"
            ext.projectId = "project-id"
            ext.registry = "${ext.hostRegion}/gcr.io/${ext.projectId}/"

        }
    }


    slurm {
        process {
            errorStrategy = 'retry'
            executor = 'slurm'
        }
    }

    awsbatch {
        workDir = 's3://work' // <- replace with your own bucket!

        process {
            errorStrategy = 'retry'
            executor = 'awsbatch'
        }

        aws {
            region = 'eu-west-1'
            batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        }

    }

    googlelifescience {
        workDir = 'gs://work' // <- replace with your own bucket!

        process {
            errorStrategy = 'retry'
            executor = 'google-lifesciences'
        }

        google.region = 'europe-west2-c'
    }


}

