manifest {
    name = 'GATK4 Germline SNP and Indel Analysis'
    description = 'Workflow for germline short variant discovery using GATK4'
    version = '0.0.1'
    author = 'Evan Floden <evan@seqera.io>; Abhinav Sharma <abhinav@seqera.io>'
    defaultBranch = 'master'
    homePage = 'https://github.com/seqeralabs/gatk4-germline-snps-indels'
}

process.errorStrategy = 'retry'
process.maxRetries = 3

process {
    withName:
    "GATK.*" {
        container = "quay.io/seqeralabs/gatk4:4.1.8.1"
    }

    withName:
    "BWA.*|PICARD.*" {
        container = "quay.io/seqeralabs/genomes-in-the-cloud:2.3.1-1512499786"
    }

}


// Default params for Benchmarking on Seqera Labs infrastructure.
params {

    // Main output dir
    outdir = "s3://nextflow-ci/gatk4-germline-snps-indels/results"  // <- Customize this for your setup

    // References
    fasta = "s3://gatk4-germline-snps-indels-nf/hg38/Homo_sapiens_assembly38.fasta"
    dbSNP_vcf = "s3://gatk4-germline-snps-indels-nf/hg38/Homo_sapiens_assembly38.dbsnp138.vcf"
    known_indels_mills = "s3://gatk4-germline-snps-indels-nf/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    known_indels_dbSNP = "s3://gatk4-germline-snps-indels-nf/hg38/Homo_sapiens_assembly38.known_indels.vcf.gz"

    // List of samples to be analyzed
    input_fofn = "$baseDir/test_data/manifest-3samples.txt" // OR  manifest-6samples.txt OR manifest-1sample.txt

    // Auxilliary files
    unmapped_bams_list = "s3://gatk4-germline-snps-indels-nf/unmapped_bams.tsv"
    sequence_grouping = "s3://gatk4-germline-snps-indels-nf/sequence_grouping.txt"
    sequence_grouping_unmapped = "s3://gatk4-germline-snps-indels-nf/sequence_grouping_with_unmapped.txt"
    scattered_calling_interval = "s3://gatk4-germline-snps-indels-nf/hg38_wgs_scattered_calling_intervals.txt"


    // Default configs for the processes
    GATK_APPLY_BQSR {
        java_opts = "-Xms3000m"
    }

    GATK_BASE_RECALIBRATOR {
        java_opts = "-Xms4000m"
    }

    GATK_GATHER_BAM_FILES {
        java_opts = "-Xms2000m"
        compression_level = 5
    }

    GATK_GATHER_BQSR_REPORTS {
        java_opts = "-Xms3000m"
    }

    GATK_HAPLOTYPE_CALLER {
        java_opts = "-Xmx4G"
    }

    GATK_MARK_DUPLICATES {
        java_opts = "-Xms4000m"
        compression_level = 5
    }

    GATK_MERGE_BAM_ALIGNMENT {
        java_opts = "-Xms6000m"
        compression_level = 5
    }

    GATK_MERGE_VCFS {
        java_opts = "-Xmx4G"
    }

    GATK_SORT_AND_FIX_TAGS {
        java_opts_sort = "-Xms4000m"
        java_opts_fix = "-Xms500m"
        compression_level = 5
    }

    PICARD_SAM_TO_FASTQ_BWA_MEM {
        java_opts = "-Xms3000m"
        compression_level = 5
    }

}


profiles {
    dockerhub {
        ext.registry = 'https://hub.docker.com/r/seqeralabs/'
    }

    docker {
        enabled = true
        fixOwnership = true
    }

    ecr {
        workDir = 's3://work' // <- NOTE: replace with your own bucket!

        aws {
            region = "eu-west-1"
        }

        process {
            errorStrategy = 'retry'
            ext.accountid = "AWS_ACCOUNT_ID" // <- NOTE: replace with your own creds!
            ext.registry = "${ext.accountid}.dkr.ecr.${aws.region}.amazonaws.com"

        }
    }

    gcr {
        workDir = 'gs://work' // <- NOTE: replace with your own bucket!

        google.project = "project_name"
        google.zone = "europe-west2-c"

        process {
            errorStrategy = 'retry'
            ext.hostRegion = "eu"
            ext.projectId = "project-id" // <- NOTE: replace with your own bucket!
            ext.registry = "${ext.hostRegion}/gcr.io/${ext.projectId}/"

        }
    }

    slurm {
        process {
            errorStrategy = 'retry'
            executor = 'slurm'
        }
    }

    awsbatch {
        workDir = 's3://work' // <- NOTE: replace with your own bucket!

        process {
            errorStrategy = 'retry'
            executor = 'awsbatch'
        }

        aws {
            region = 'eu-west-1'
            batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        }

    }

    googlelifescience {
        workDir = 'gs://work' // <- NOTE: replace with your own bucket!

        process {
            errorStrategy = 'retry'
            executor = 'google-lifesciences'
        }

        google.region = 'europe-west2-c'
    }


}

