profiles {
    test {
        docker {
            enabled = true
        }

        process {
            echo = true

            withName:
            "GATK_PAIRED_FASTQ_TO_UNMAPPED_BAM" {
                container = "quay.io/biocontainers/gatk4:4.1.8.1--py38_0"
                memory = "20 GB"
                cpus = 6
            }
        }

    }
}
