process {

    withName:
    'BWA_GET_BWA_VERSION' {
        cpus = 4
        memory = "4 GB"
    }

    withName:
    'GATK_PAIRED_FASTQ_TO_UNMAPPED_BAM' {
        cpus = 4
        memory = "8 GB"
    }

    withName:
    'PICARD_SAM_TO_FASTQ_BWA_MEM' {
        cpus = 16
        memory = "16 GB"
    }

    withName:
    'GATK_MERGE_BAM_ALIGNMENT' {
        cpus = 4
        memory = "8 GB"
    }

    withName:
    'GATK_MARK_DUPLICATES' {
        cpus = 16
        memory = "32 GB"
    }

    withName:
    'GATK_SORT_AND_FIX_TAGS' {
        cpus = 4
        memory = "20 GB"
    }


    withName:
    'GATK_BASE_RECALIBRATOR' {
        cpus = 4
        memory = "12 GB"
    }

    withName:
    'GATK_GATHER_BQSR_REPORTS' {
        cpus = 4
        memory = "4 GB"
    }

    withName:
    'GATK_APPLY_BQSR' {
        cpus = 4
        memory = "4 GB"
    }

    withName:
    'GATK_GATHER_BAM_FILES' {
        cpus = 4
        memory = "4 GB"
    }

    withName:
    'GATK_HAPLOTYPE_CALLER' {
        cpus = 4
        memory = "4 GB"
    }


    withName:
    'GATK_MERGE_VCFS' {
        cpus = 4
        memory = "4 GB"
    }

}
